<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal">Not IMDB</h1>
  <p class="fs-5 text-muted">Here you can find a film to watch, sort films by categories, see film ratings and even rate it!</p>
</div>


<%= form_with url: movies_path, method: :get do |f| %>
<%= f.select(:category, @categories) %>
<%= f.submit "Sort" %>
<% end %>

<div class="album py-2 bg-light justify-content-center">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <% @movies.each do |movie| %>
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <%= image_tag url_for(movie.image), :class => 'img-fluid rounded-start', :style => 'margin-top:10px; margin-bottom:10px; height:auto;' %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              <%= link_to movie.title, movie_url(movie.id), class: 'nav-link' %> 
            </h5>
            <% if movie.body.length < 128 %>
            <p class="card-text"><%= movie.body %></p>
            <% else %>
            <p class="card-text"><%= movie.body[0..128] %><a href="/movies/<%= movie.id %>" style="text-decoration: none; color:black;">...</a></p>
            <% end %>
            <p class="card-text">Rating: <%= movie.get_rating %>
            </p>
            <div class="stars-container"></div>
            <div>Current rating: <span id="rating">0</span></div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<%= paginate @movies, theme: 'bootstrap-5',
                   pagination_class: "pagination-sm flex-wrap justify-content-center" %>

</div>
    <div class="fs-5 lead">You can filter films by category:&emsp;

      <form action="/filter" method="post">
        <select class="btn btn-outline-secondary dropdown-toggle">
          <option selected>Choose category</option>
          <% @categories.each do |category| %>
          <option value="<%= category %>"><%= category.capitalize %></option>
          <% end %>
        </select>
        <input type="button" name="submit" value="Filter">
      </form>
    </div>